<script type="module">
  import PocketBase from '/scripts/pocketbase.es.js';
  const pb = new PocketBase('https://8090-ccutch-pbjstack-tcrrn613x9y.ws-us105.gitpod.io');
  window.authenticate = async (event) => {
    event.preventDefault();
    await pb.admins.authWithPassword(
      event.target.email.value,
      event.target.password.value,
    );
    window.location.reload();
  };
</script>

<div
  class="flex h-screen w-full items-center justify-center bg-gray-900 bg-cover bg-no-repeat text-white"
  style="background-image:url('/assets/background.png')"
>
  <!-- Backdrop -->
  <div class="flex flex-col gap-12 rounded-xl bg-gray-200/20 p-8 shadow-lg backdrop-blur-md w-full max-w-xs">
    <div class="flex flex-col gap-2 items-center">
      <h1 class="text-5xl text-shadow-sm text-amber-600 leading-0">
        PB<span class="text-purple-400">&J</span>
      </h1>
      <span class="text-gray-200 text-lg leading-0">
        Admin Login
      </span>
    </div>

    <form hx-on:submit="authenticate(event)" class="flex flex-col gap-2 w-full">
      <input
        class="rounded-lg border-none bg-blue-400/50 px-4 py-2 text-xl placeholder-slate-200"
        name="email"
        placeholder="email"
        type="email" required
      >
      <input
        class="rounded-lg border-none bg-blue-400/50 px-4 py-2 text-xl placeholder-slate-200"
        name="password"
        placeholder="Password"
        type="password" required
      >
      <button
        class="rounded-xl bg-teal-400/80 px-8 py-2 text-xl font-semibol text-white shadow-xl border-0 hover:bg-teal-400"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</div>
