
{{ block "task" . }}
<div class="task grid grid-cols-[24px_auto] gap-x-2 leading-0">
  <input
    class="cursor-pointer"
    type="checkbox"
    {{if .Completed}}checked{{end}}
    hx-put="/tasks/complete?id={{.Id}}"
    hx-swap="outerHTML"
    hx-target="closest .task"
  >
  <h2 class="text-gray-200 tracking-wide {{if .Completed}}line-through{{end}}">
    {{.Title}}
  </h2>
  <span class="col-start-2 text-lg text-gray-400 font-medium {{if .Completed}}line-through{{end}}">
    {{.Description}}
  </span>
</div>
{{ end }}
